<!--
    //The (at) symbol is razor syntax for using a C# code block
    //The C# code sets the path to our layout page template.
    //Null means this view is not using a layout page
-->
@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h2>@Model.DisplayText</h2>
<!--Using Bootstrap, well class gives an inset effect -->
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:  </label>  @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label>  @Model.IssueNumber</h5>
            <h5><label>Favorite:  </label>  @(Model.Favorite ? "Yes" : "No")</h5>

            <!--
                - Loop over the artist array and write each individual value to the view
                - if statement shows artist info only if the artists array has elements
            -->
            @if (Model.Artists.Length > 0)
            {
                <h5>Artists:</h5>
                <div>
                    <ul>
                        @foreach (var artist in Model.Artists)
                         {
                        <li>@artist.Role: @artist.Name</li>
                         }
                    </ul>
                </div>
            }

        </div>
        <h5>Description:</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>

    </div>

    <div class="col-md-6">
        <img src="/Images/the-amazing-spider-man-700.jpg"
             alt="@Model.DisplayText" class="img-responsive"/>

         @*<img src="/Images/@Model.GetCoverImageFileName()"
         alt="@Model.DisplayText" class="img-responsive"/>*@
    </div>
</div>
